<!DOCTYPE html>
<html>
<head><title>My Test Extension Options</title></head>
<body>
  <label for='absent-emoji'>Absent emoji override:</label>
  <input id='absent-emoji'>
  <br />
  <label for='present-emoji'>Present emoji override:</label>
  <input id='present-emoji'>
  <br />
  <label for='correct-emoji'>Correct emoji override:</label>
  <input id='correct-emoji'>
  <br />

  <br />

  <label for='celebration-1'>Celebration emoji for guess in 1 try:</label>
  <input id='celebration-1'>
  <br />
  <label for='celebration-2'>Celebration emoji for guess in 2 tries:</label>
  <input id='celebration-2'>
  <br />
  <label for='celebration-3'>Celebration emoji for guess in 3 tries:</label>
  <input id='celebration-3'>
  <br />
  <label for='celebration-4'>Celebration emoji for guess in 4 tries:</label>
  <input id='celebration-4'>
  <br />
  <label for='celebration-5'>Celebration emoji for guess in 5 tries:</label>
  <input id='celebration-5'>
  <br />
  <label for='celebration-6'>Celebration emoji for guess in 6 tries:</label>
  <input id='celebration-6'>
  <br />

  <button id="save">Save</button>

  <script src="../src/options.js"></script>
</body>
</html>
