<!-- popup.html -->
<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap" rel="stylesheet">
  <style>
    html {
      min-height: 2em;
      min-width: 20em;
      background: #F1E5FA;
    }
    p {
      font-family: 'Heebo', sans-serif;
    }
  </style>
  <script type="text/javascript" src="../src/popup.js"></script>
</head>
<body>
  <p align="center">&#9989; Successfully copied Wordle to clipboard!</p>
</body>
</html>
